@model ASPJ_Project.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
        .form-group{
            margin-bottom:10px;
            margin:auto;
        }
    </style>
</head>
@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    //Can add captcha
    <br />
    <br />
    <br />
    <br />
        <div class="g-recaptcha" data-sitekey="6LenbkIUAAAAAGKcQ5G-vwsOFO5Vea-Smo7Wb8U-"></div>
    <br />
    <br />
    <br /> 
    <input type="submit" value="Confirm" />
    <input type="reset" value="Cancel" />
}

<span style="display:inline-block; font-size:20px;margin:20px 0;padding:20px;border:1px solid #D3D3D3">
    @ViewBag.Message
</span> 