@model IEnumerable<ASPJ_Project.Models.PremiumShop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beansPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beansPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemID })
        </td>
    </tr>
}

</table>
