@model ASPJ_Project.Models.BanUserModel
@using ASPJ_Project.Models

@{
    ViewBag.Title = "BanUser"; 
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
    var dummy= ViewBag.Dummys;
 }

<h2>Ban User</h2>
<head>
   
    <style>
        .form-group {
            margin-bottom: 10px;
            margin: auto;
        }
    </style>
</head>

@using (Html.BeginForm("BanUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @readonly = "readonly", @Value=dummy.userName, @class="form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BanPeriod, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.BanPeriod,
                                new SelectList(new List<string>
                                {
                                    "1 Week","2 Weeks","1 Month","3 Months","1 Year"
                                }),
                                "BanPeriod", new { @class="form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m=> m.BanReason, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.BanReason,
                             new SelectList(new List<string>
                             {
                                         "Cheating","Suspicious Transaction","Bad Forum Behaviour","Bad Chat Behaviour","spamming"
                             }),"Reason", new { @class = "form-control" })
        </div>
    </div>
        
        
    <input type="submit" value="Confirm" />
    <input type="reset" value="Cancel" />
}

