@model ASPJ_Project.Models.PremiumItem

@{
    ViewBag.Title = "Item Delete";
    var item = ViewBag.Item;
    Layout = "~/Content/ShopStyle/_Layout.cshtml";

}

<h2>Delete Item</h2>
<head>
    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
    <style>
        .form-group {
            margin-bottom: 10px;
            margin: auto;
        }
    </style>
</head>

@using (Html.BeginForm("ItemDelete", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.itemID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.itemID, new { @readonly = "readonly", @Value = item.itemID, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.itemName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.itemName, new { @readonly = "readonly", @Value = item.itemName, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.itemDescription, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.itemDescription, new { @readonly = "readonly", @Value = item.itemDescription, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.itemType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.itemType, new { @readonly = "readonly", @Value = item.itemType, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.priceOfBeans, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.priceOfBeans, new { @readonly = "readonly", @Value = item.priceOfBeans, @class = "form-control" })
        </div>
    </div>


    @*<div class="g-recaptcha" data-sitekey="6LenbkIUAAAAAGKcQ5G-vwsOFO5Vea-Smo7Wb8U-"></div>*@

    <input type="submit" value="Confirm" />
    <input type="reset" value="Cancel" />
}

@*<span style="display:inline-block; font-size:20px;margin:20px 0;padding:20px;border:1px solid #D3D3D3">
        @ViewBag.Message
    </span>*@ 