@using ASPJ_Project.Models;
@model SearchModel

@{
    ViewBag.Title = "Search";
    var Dummys = ViewBag.Dummys;
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Admin", FormMethod.Post))
{
   
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Search, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Search, new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="search" />
}


<table>
    <tr>
        <td>UserID</td>
        <td>UserName</td>
        <td>FirstName</td>
        <td>Role</td>
        <td>Email</td>
        <td>Options</td>
    </tr>
    @foreach (var dummy in Dummys)
    {
        <tr>
            <td>@dummy.UserId</td>
            <td>@dummy.UserName</td>
            <td>@dummy.FirstName</td>
            <td>@dummy.Role</td>
            <td>@dummy.Email</td>
            <td><button value="details">details</button></td>
        </tr>
    }
</table>