
@{
    ViewBag.Title = "Transaction";
    var Listy = ViewBag.Transactions;
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}

<<h2>App Transaction</h2>


<table>
    <tr>
        <td>Transaction Number:</td>
        <td>User ID:</td>
        <td>Transaction Description:</td>
        <td>Price:</td>
        <td>User bean before:</td>
        <td>User bean after</td>
        <td>Status:</td>
        <td>Date of Transaction:</td>
    </tr>
    @foreach (var dummy in Listy)
    {
        <tr>
            <td>@dummy.TransactionNo</td>
            <td>@dummy.UserID</td>
            <td>@dummy.TransactionDesc</td>
            <td>@dummy.Price</td>
            <td>@dummy.BeansBefore</td>
            <td>@dummy.BeansAfter</td>
            <td>@dummy.Status</td>
            <td>@dummy.DateOfTransaction</td>
        </tr>
    }
</table>