@model IEnumerable<ASPJ_Project.Models.user>

@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/CSS/Friends.css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>FriendList</title>
</head>
<body>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
                @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
            </td>
        </tr>
    }
    
    </table>*@
    <div class="container">
        <div class="top">
            <h2>Friend's List</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Expandable Search Form</h1>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-4 col-md-offset-3">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>
        </div>*@
        @using (Html.BeginForm())
        {
        @Html.TextBox("searchString") <input type="submit" value="Search" />
        }
        <div class="row">
            <div class="shadow">
                @foreach (var item in Model)
                {
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
                    </div>
                    <div class="col-sm-8">
                        <h4><a href="#"> @Html.DisplayFor(modelItem => item.FirstName)</a></h4>
                        <p><a href="#">4 mutual friends</a></p>
                    </div>
                    <div class="col-sm-2">
                        <br>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                }
            </div>
        </div>
    </div>
</body>
</html>
