@model ASPJ_Project.ViewModels.CommentViewModel
@{
    ViewBag.Title = "GetThread2";
    Layout = "~/Views/Forum/_Forumlayout.cshtml";
}

@Styles.Render("~/css/thread.css")


<div class="container-fluid">
    <div class="row">
        <div class="[ col-xs-12 col-sm-8 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Report Thread</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
                    <h3>@Model.thread.title</h3>
                    <h5><span>Posted by @Model.thread.username</span> on <span>@Model.thread.date</span> </h5>
                </div>
                <div class="panel-body">
                    <p>@Model.thread.content</p>
                    <img src="~/Content/UploadedImages/@Model.thread.imageName" />
                </div>
                <div class="panel-footer">
                        @using (Html.BeginForm("Upvote", "Forum", new { id = Model.thread.id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <button type="submit" class="[ btn btn-default ]"><span class="fa fa-thumbs-up"></span></button>
                        }
                        @using (Html.BeginForm("Downvote", "Forum", new { id = Model.thread.id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <button type="submit" class="[ btn btn-default ]"><span class="fa fa-thumbs-down"></span></button>
                        }
                </div>
                <div class="panel-footer">
                    @if (Model.thread.votes >= 0)
                    {
                        <p>@Model.thread.votes <span class="fa fa-thumbs-up"></span></p>
                    }
                    else
                    {
                        <p>@Model.thread.votes <span class="fa fa-thumbs-down"></span></p>
                    }
                </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                                @Html.TextAreaFor(model => model.comment.content, new { htmlAttributes = new { @class = "form-control" }, cols = 4, rows = 2 })
                                @Html.ValidationMessageFor(model => model.comment.content, "", new { @class = "text-danger" })
                                <button type="submit" class="[ btn btn-success ]">Post comment</button>
                        }
                    </div>
                </div>
                @foreach (var comment in Model.comments)
                {
                 <div class="[ panel panel-default ] panel-google-plus">
                    <div class="panel-heading">
                        <img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
                        <h3>@comment.username</h3>
                        <h5><span>Posted</span> on <span>@comment.date</span> </h5>
                    </div>
                    <div class="panel-body">
                        <p>@comment.content</p>
                    </div>
                   </div>
                }
            </div>
        </div>
    </div>
</div>

