@model IEnumerable<ASPJ_Project.Models.Thread>

@{
    ViewBag.Title = "Home2";
    Layout = "~/Views/Forum/_Forumlayout.cshtml";
}

<h2>Home2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
