@model IEnumerable<ASPJ_Project.Models.Comment>

@{
    ViewBag.Title = "My Comments";
    Layout = "~/Views/Forum/_Forumlayout.cshtml";
}

<style>
    td {
        word-break: break-all
        }
</style>
<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thread.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.thread.imageName != "")
        {
            <td>
                <img src="~/Content/UploadedImages/@item.thread.imageName" style="max-width: 60px; max-height: 30px;" />
            </td>
        } else
        {
            <td></td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.thread.title)
        </td>
        <td style="width:60%;">
            @Html.DisplayFor(modelItem => item.content)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td style="word-break: normal;">
            @Html.ActionLink("Details", "GetThread", new { id=item.threadId }) |
            @Html.ActionLink("Delete", "DeleteComment", new { id=item.id })
        </td>
    </tr>
}

</table>
