@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization

<!DOCTYPE HTML>
<html>
	<head>
        <style>
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="@Url.Content("~/Content/ShopStyle/")assets/css/main.css" />
    </head>
    <body>
        @RenderBody()
		<!-- Scripts -->
			<script src="@Url.Content("~/Content/ShopStyle/")assets/js/jquery.min.js"></script>
			<script src="@Url.Content("~/Content/ShopStyle/")assets/js/jquery.scrollex.min.js"></script>
			<script src="@Url.Content("~/Content/ShopStyle/")assets/js/jquery.scrolly.min.js"></script>
			<script src="@Url.Content("~/Content/ShopStyle/")assets/js/skel.min.js"></script>
			<script src="@Url.Content("~/Content/ShopStyle/")assets/js/util.js"></script>
        	<script src="@Url.Content("~/Content/ShopStyle/")assets/js/jquery-ui.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="@Url.Content("~/Content/ShopStyle/")assets/js/main.js"></script>
	</body>
</html>