@{
    ViewBag.Title = "Shop";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}
@{
    var BeanData = ViewBag.BeanPurchasesData;
}
<html>
	<head>
        <style>
            p{
                font-size: 20px;
            }
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/User/UserProfile">@Session["username"]</a></li>
                            <li><a>Beans: @Session["userBeans"]</a></li>
							<li><a href="/Shop/Shop#one">Hats</a></li>
							<li><a href="/Shop/Shop#two">Outfits</a></li>
                            <li><a href="/Shop/Inventory">Inventory</a></li>
                            <li><a href="/Shop/BeansPurchase">Purchase Beans</a></li>
                        </ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

					<section id="one" class="wrapper style3 fade-up">
						<div class="inner">
							<h1>Beans Purchase</h1>
							<p>Need some beans? Purchase some here.</p>
							<div class="features">
                            @for(int i = 0; i < BeanData.Count; i++)
                            {
								<section>
									<span class="icon major @BeanData[i].beanIcon"></span>
									<h2>@BeanData[i].itemName</h2>
                                    <p>$@BeanData[i].priceOfBeans</p>
									<p>@BeanData[i].beanAmount Beans</p>
                                    @Html.ActionLink("Purchase", "PurchaseSession", new { beansAmount = @BeanData[i].beanAmount, price = @BeanData[i].priceOfBeans, beansName = @BeanData[i].itemName }, new {@class="button"})
								</section>
                            }
							</div>
							<ul class="actions">
								<li><a href="/Shop/Shop" class="button">Go Back</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Tofu Universe All rights reserved.</li>
					</ul>
				</div>
			</footer>
        </body>
    </html>