@{
    ViewBag.Title = "Shop";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}
<html>
	<head>
        <style>
            input {
                color: #000000
            }
            p {
                font-size: 20px;
            }
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/User/UserProfile">@Session["username"]</a></li>
                            <li><a>Beans: @Session["userBeans"]</a></li>
                            <li><a href="/Game/Index">Play</a></li>
                            <li><a href="/Shop/Shop">Shop</a></li>
                            <li><a href="/Shop/Inventory">Inventory</a></li>
                            <li><a href="/Shop/BeansPurchase">Purchase Beans</a></li>
                            <li><a href="/User/LogOut">Logout</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

                <!-- Hats -->
				<section id="one" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>@Session["beansName"] (@Session["beansAmount"] Beans)</h2>
						<p>$@Session["price"]</p>
						<div class="features">
							<section>
                                    <span class="icon major fa-credit-card"></span>
                                <p>@Html.ActionLink("Pay Direct With Credit Card", "CreditCardInfo", "Shop")</p>
                            </section>
                            <section>
                                    <span class="icon major fa-paypal"></span>
                                <p>@Html.ActionLink("Pay with PayPal", "PaymentWithPaypal", "Shop")</p>
							</section>
						</div>
						<ul class="actions">
							<li><a href="/Shop/BeansPurchase" class="button">Go Back</a></li>
						</ul>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Tofu Universe All rights reserved.</li>
					</ul>
				</div>
			</footer>
        </body>
    </html>