@{
    ViewBag.Title = "Shop";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}
@using ASPJ_Project.Models
@model ASPJ_Project.Models.PremiumItem
@{
    var HatData = ViewBag.HatItemData;
    var OutfitData = ViewBag.OutfitItemData;
    var UserItemData = ViewBag.UserItemsData;
    var alreadyPurchased = 0;
}
<html>
	<head>
        <style>
            h3{
                font-size: 22px;
            }
            .description{
                font-size: 18px;
            }
            .beansPrice{
                font-size: 20px;
            }
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <script>

        </script>
	</head>
	<body>
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#one">Hats</a></li>
							<li><a href="#two">Outfits</a></li>
                            <li><a href="/Shop/Inventory">Inventory</a></li>
                            <li><a>Beans: </a> </li>
                            <li><a href="/Shop/BeansPurchase">Purchase Beans</a></li>
						</ul>
					</nav>
				</div>
			</section>


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Premium Shop</h1>
							<p>Customize your own Tofu.</p>
							<ul class="actions">
								<li><a href="/Game/Index" class="button scrolly">Play Now</a></li>
							</ul>
						</div>
					</section>

                <!-- Hats -->
                <!---
					<section id="one" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Hats</h2>
							<p>Something to put on its soft squishy head.</p>
							<div class="features">
                            @for(int i = 0; i < HatData.Count; i++)
                            { 
                                alreadyPurchased = 0;
								<section>
									<span class="icon major fa-graduation-cap"></span>
									<h3>@HatData[i].itemName</h3>
									<p class="description">@HatData[i].itemDescription</p>
                                    <p class="beansPrice">@HatData[i].beansPrice Beans</p>
                                    @if (UserItemData.Count > 0)
                                    {
                                        if (UserItemData.Count <= HatData.Count)
                                        {
                                            for(int j = 0; j < HatData.Count; j++)
                                            {
                                                if (UserItemData[j].itemID == HatData[i].itemID)
                                                {
                                                    alreadyPurchased = 1;
                                                    break;
                                                }
                                                if (j+1 == UserItemData.Count)
                                                {
                                                    break;
                                                }
                                            }

                                            if (alreadyPurchased == 0)
                                            {
                                                @Html.ActionLink("Purchase", "ItemPurchase", new { beansPrice = @HatData[i].beansPrice, premiumItemName = @HatData[i].itemName, premiumItemID = @HatData[i].itemID }, new { onclick = "return confirm('Are you sure you want to purchase this item?');", @class="button"})
								            }

                                            else
                                            {
                                                <button>Already Purchased</button>
                                            }
                                        }
                                    

                                        if (UserItemData.Count > HatData.Count)
                                        {
                                            for(int j = 0; j < UserItemData.Count; j++)
                                            {
                                                if (UserItemData[j].itemID == HatData[i].itemID)
                                                {
                                                    alreadyPurchased = 1;
                                                    break;
                                                }
                                                if (j+1 == UserItemData.Count)
                                                {
                                                    break;
                                                }
                                            }

                                            if (alreadyPurchased == 0)
                                            {
                                                @Html.ActionLink("Purchase", "ItemPurchase", new { beansPrice = @HatData[i].beansPrice, premiumItemName = @HatData[i].itemName, premiumItemID = @HatData[i].itemID }, new { onclick = "return confirm('Are you sure you want to purchase this item?');", @class="button"})
								            }

                                            else
                                            {
                                                <button>Already Purchased</button>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Purchase", "ItemPurchase", new { beansPrice = @HatData[i].beansPrice, premiumItemName = @HatData[i].itemName, premiumItemID = @HatData[i].itemID }, new { onclick = "return confirm('Are you sure you want to purchase this item?');", @class="button"})
								    }
                                </section>
                            }
							</div>
						</div>
					</section>

				
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Outfits</h2>
							<p>Make your tofu look even more adorable.</p>
							<div class="features">
                               @for(int i = 0; i < OutfitData.Count; i++)
                                {
                                    alreadyPurchased = 0;
								    <section>
									    <span class="icon major fa-black-tie"></span>
									    <h3>@OutfitData[i].itemName</h3>
									    <p class="description">@OutfitData[i].itemDescription</p>
                                        <p class="beansPrice">@OutfitData[i].beansPrice Beans</p>
                                        @if (UserItemData.Count > 0)
                                        {
                                            if (UserItemData.Count <= OutfitData.Count)
                                            {
                                                for(int j = 0; j < OutfitData.Count; j++)
                                                {
                                                    if (UserItemData[j].itemID == OutfitData[i].itemID)
                                                    {
                                                        alreadyPurchased = 1;
                                                        break;
                                                    }
                                                    if (j+1 == UserItemData.Count)
                                                    {
                                                        break;
                                                    }
                                                }

                                                if (alreadyPurchased == 0)
                                                {
                                                    @Html.ActionLink("Purchase", "ItemPurchase", new { beansPrice = @OutfitData[i].beansPrice, premiumItemName = @OutfitData[i].itemName, premiumItemID = @OutfitData[i].itemID }, new { onclick = "return confirm('Are you sure you want to purchase this item?');", @class="button"})
								                }

                                                else
                                                {
                                                    <button>Already Purchased</button>
                                                }
                                            }

                                            if (UserItemData.Count > OutfitData.Count)
                                            {
                                                for(int j = 0; j < UserItemData.Count; j++)
                                                {
                                                    if (UserItemData[j].itemID == OutfitData[i].itemID)
                                                    {
                                                        alreadyPurchased = 1;
                                                        break;
                                                    }
                                                    if (j+1 == UserItemData.Count)
                                                    {
                                                        break;
                                                    }
                                                }

                                                if (alreadyPurchased == 0)
                                                {
                                                    @Html.ActionLink("Purchase", "ItemPurchase", new { beansPrice = @OutfitData[i].beansPrice, premiumItemName = @OutfitData[i].itemName, premiumItemID = @OutfitData[i].itemID }, new { onclick = "return confirm('Are you sure you want to purchase this item?');", @class="button"})
								                }

                                                else
                                                {
                                                    <button>Already Purchased</button>
                                                }
                                            }
                                        }

                                        else
                                        {
                                            @Html.ActionLink("Purchase", "ItemPurchase", new { beansPrice = @OutfitData[i].beansPrice, premiumItemName = @OutfitData[i].itemName, premiumItemID = @OutfitData[i].itemID }, new { onclick = "return confirm('Are you sure you want to purchase this item?');", @class="button"})
                                        }
                                    </section>
                                }
							</div>
						</div>
					</section>

			</div>
        ---->
		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Tofu Universe All rights reserved.</li>
					</ul>
				</div>
			</footer>
        </body>
    </html>