@{
    ViewBag.Title = "Tofu Universe!";
}
@{
    var chatData = ViewBag.chatList;
    var chatTime = ViewBag.dateTime;
    var username = ViewBag.cookie;
    string storeTime = "";

    for (int i = 0; i < chatData.Count; i++)
    {
        storeTime = chatTime[i];
    }
}
@if(ViewData["code"] != null) {
    <script>_tofuUniverse.code = "@ViewData["code"]"</script>
}
<!--Chat stuff-->
<button class="btn btn-default" id="toggle">
    <span class="glyphicon glyphicon-backward"></span>
    Open Chat
</button>
<div class="sidenav" id="s">
    <style>
        #numCount {
            margin-top: 55px;
            margin-left: 6px;
            color: #D14D59;
        }

        #sendmessage {
            padding: 9px 15px 5px 15px;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        #warning {
            margin-left: 6px;
        }
    </style>
    <div>
        <div class="fill-height">
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                    </div>
                    @*<div class="panel-collapse collapse" id="collapseOne">*@
                    <div class="panel">
                        <div class="panel-body" id="stuff" style="height:400px; background-color: rgb(94, 66, 166)">
                            @*<ul class="nav nav-tabs" id="navPadding">
                                    <li class="active"><a data-toggle="tab" href="#chatTabActive">Home</a></li>
                                    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                                </ul>*@
                            <div class="tab-content">
                                <h2><strong><u><i>@ViewBag.Title</i></u></strong></h2>
                                <br />
                                @*<div id="chatTabActive" class="tab-pane fade in active">*@
                                <ul class="chat" style="padding-top: 30px;list-style-type:none;">
                                    <li>
                                        @*<span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                            </span>*@
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font"><input type="hidden" id="displayname" class="pull-left" /></strong> <small class="pull-right text-muted">
                                                    @*<span class="glyphicon glyphicon-time"></span>12 mins ago*@
                                                </small>
                                                <div class="message-content">
                                                    @*<ul id="chatHistory">@ViewBag.chatList</ul>*@
                                                    <div>
                                                        @for (int i = 0; i < chatData.Count; i++)
                                                        {
                                                            <section>
                                                                <ul style="list-style-type:none;">
                                                                    <li><span id="moveleft"><strong>@username: </strong></span>@chatData[i]<small class="pull-right text-muted" id="chatTime">@chatTime[i]</small></li>
                                                                </ul>
                                                            </section>
                                                        }
                                                    </div>
                                                    <ul id="discussion"style="list-style-type:none;"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                @*</div>*@
                                @*<div id="menu1" class="tab-pane fade">
                                        <h3>Menu 1</h3>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>*@
                            </div>
                            @*<div>
                                            <div class="input-group" style="margin-top: 220px;">
                                    <input id="message" type="text" class="form-control input-sm" maxlength="200" name="chatBox" placeholder="Type your message here..."/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="sendmessage" style="margin-right:30px;">
                                            Send
                                        </button>
                                    </span>
                                </div>
                                        </div>*@
                        </div>
                    </div>
                    <div class="input-group" style="padding:12px;">
                        <input id="message" type="text" class="form-control input-sm" maxlength="200" name="chatBox" placeholder="Type your message here..." style="height:50px;padding-right:30px;font-size:15px;" />
                        <div id="numCount"></div><div id="warning"></div>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="sendmessage">
                                <p style="font-size:16px;">Send</p>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Chat stuff-->
<div class="container" id="main">
    <div class="col-md-5" id="left-side-container">
        <div id="shop-area">
            <ul class="nav nav-tabs" id="shop-nav" style="background-color: rgb(49, 36, 80)">
                <li class="active"><a href="#1" data-toggle="tab">Items</a></li>
                <li><a href="#2" data-toggle="tab">Upgrades</a></li>
                <li><a href="#3" data-toggle="tab">Options</a></li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="1" >
                    <div class="shop-display" id="shop-items" ></div>
                </div>
                <div class="tab-pane" id="2">
                    <div class="shop-display" id="shop-upgrades"></div>
                </div>
                <div class="tab-pane" id="3">
                    <div class="shop-display" id="options">
                        <button onclick="saveProgress();" class="btn-default">Save Progress</button>
                        <div>
                            <span style="display:inline;margin-left:10px;">Autosave: </span>
                            <input id="autosave-toggle" class="tgl tgl-skewed" type="checkbox" onclick="toggleAutosave();"/>
                            <label for="autosave-toggle" data-tg-off="OFF" data-tg-on="ON" class="tgl-btn"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stats"></div>
    </div>
    <div class="col-md-7" id="tofu-area">
        <div id="tofu-count-container"><span id="tofu-count">0</span> Tofu</div>
        <div id="tps-container"><span id="tps">0</span> Tofu / second</div>
        <div id="tofu-space">
            @if(ViewData["hat"] != null)
            {
                <img id="tofu-hat" src="@Url.Content("~/Content/Images/ShopItems/" + ViewData["hat"] + ".png")" />
            } else
            {
                <img id="tofu-hat" src="@Url.Content("~/Content/Images/ShopItems/NullHat.png")" />
            }
            @if(ViewData["outfit"] != null)
            {
                <img id="tofu" src="@Url.Content("~/Content/Images/ShopItems/" + ViewData["outfit"] + ".png")" />
            } else
            {
                <img id="tofu" src="@Url.Content("~/Content/images/tofu-clipart-cute-2.png")" />
            }
        </div>
    </div>
    <div id="notifications"></div>
    <!--Cheat alert-->
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p>You are suspected of cheating. Your data is not saved, and will not be saved for this session.</p>
            <a href="#0" class="cd-popup-close img-replace">Close</a>
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
    <div id="click-earnings">
        <!--Click earnings-->
    </div>
</div>