@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization

<!DOCTYPE HTML>
<html>
	<head>
        <style>
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")css/main.css" />
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/select2/select2.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/select2/select2.min.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/animsition/css/animsition.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/animate.animate.css">
        <link rel="stylesheet" href="@Url.Content("~/Content/Login/")vendor/animsition/js/animsition.min.js">
    </head>
    <body>
        @RenderBody()
		<!-- Scripts -->
            <script src="@Url.Content("~/Content/Login/")css/util.css"></script>
            <script src="@Url.Content("~/Content/Login/")images/icons/favicon.ico"></script>
            <script src="@Url.Content("~/Content/Login/")images/bg-01.jpg"></script>
			<script src="@Url.Content("~/Content/Login/")js/main.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/animate.animate.css"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/animsition/css/animsition.css"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/animsition/css/animsition.min.css"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/animsition/js/animsition.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/animsition/js/animsition.min.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/bootstrap/js/bootstrap.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/bootstrap/js/bootstrap.min.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/bootstrap/js/popper.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/bootstrap/js/popper.min.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/bootstrap/js/tooltip.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/countdowntime/countdowntime.js"></script>

            <script src="@Url.Content("~/Content/Login/")vendor/daterangepicker/daterangepicker.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/daterangepicker/moment.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/daterangepicker/moment.min.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/jquery/jquery-3.2.1.min.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/select2/select2.js"></script>
            <script src="@Url.Content("~/Content/Login/")vendor/select2/select2.min.js"></script>
        
        
            
	</body>
</html>